@font-face {
   font-family: 'IBMPlexSerif';
   src: url('../fonts/IBMPlexSerif-Medium.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'IBMPlexSerif';
   src: url('../fonts/IBMPlexSerif-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: 'IBMPlexSerif';
   src: url('../fonts/IBMPlexSerif-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: 'IBMPlexSerif';
   src: url('../fonts/IBMPlexSerif-Medium.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'IBMPlexMono';
   src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'IBMPlexMono';
   src: url('../fonts/IBMPlexMono-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: 'IBMPlexMono';
   src: url('../fonts/IBMPlexMono-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: 'IBMPlexMono';
   src: url('../fonts/IBMPlexMono-Medium.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-family: IBMPlexSerif, Arial;
    font-size: 17px;
    height: 100%;
    margin: 0;
}


/* Normalization START */

body {
    hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(60, 64, 67);
    font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: IBMPlexSerif;
    font-weight: bold;
    line-height: 1.25;
    color: #333;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .875em;
}

h6 {
    font-size: .85em;
}

blockquote,
q {
    quotes: none;
    margin: 0;
}

::selection {
    color: #fff;
    background-color: #2980b9;
}

mark {
    background-color: rgba(12, 242, 143, .2);
}

mark {
    padding-left: .15em;
    padding-right: .15em;
    border-radius: 3px;
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	font-weight: 300;
	font-size: .9rem;
	color: #9a9a9a;
}

code,
tt,
kbd,
samp {
    font-family: IBMPlexMono, Arial;
}

pre {
    display: block;
    text-align: left;
    line-height: 1.45;
    margin: 0;
    padding: 16px;
    border-radius: 3px;
    background-color: #f6f8fa;
    -o-tab-size: 4;
    -moz-tab-size: 4;
    tab-size: 4;
    overflow: auto;
    font-family: IBMPlexMono, Arial;
    font-size: .85rem;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}

code,
kbd,
tt,
samp {
    padding: .05em .4em;
    margin: 0 .1em;
    background-color: rgba(27,31,35,.05);
    font-family: IBMPlexMono, Arial;
    font-size: .85rem;
    border-radius: 6px;
}

pre code,
pre kbd,
pre tt,
pre samp {
    display: inline;
    font-size: inherit;
    color: inherit;
    padding: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    padding: 8px;
    text-align: left;
}

table thead {
    color: #fff;
    background-color: rgb(60, 64, 67);
}

table tr:nth-child(even) {
    background-color: #f3f6fa;
}

a {
    color: #2196f3;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-decoration-skip: objects;
    -moz-text-decoration-skip: objects;
    text-decoration-skip: objects;
}

a:hover {
    text-decoration: none;
}

del {
    opacity: 0.5;
}

abbr,
acronym {
    cursor: help;
}

strong,
b {
    color: rgba(29, 43, 76, .85);
}


/* Normalization END */
.center-cont {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.center-cont > h1 {
	margin: 10px 0 5px 0;
}

.center-cont > p {
	margin: 3px 0 20px 0;
}

#site {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#site header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1rem 0;
	box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.1);
	width: 100%;
}


#site header .main h1 a {
	font-size: 4rem;
}

#site header .main a {
	text-decoration: none;
	color: inherit;
}

#site footer {
	margin-top: 100px;
}

#site footer > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 1px solid #4b5056;
	font-size: .9rem;
}

#footer-cont {
	padding: 20px 10px;
}

#footer-contact a {
	margin-left: 14px;
}

#site footer a {
	text-decoration: none;
	color: inherit;
}

#site main {
	margin-top: 40px;
	margin-bottom: 50px;
	flex-grow: 1;
}

/* #site header, main, footer { */
/*         flex-shrink: 0; */
/* } */

.post-link {
	color: inherit;
}

.post-list-item {
	margin: 10px 0;
}
.post-list-item > h3 {
	color: #2196f3;
	display: inline-block;
	margin: 6px 0;
	font-size: 1.2rem;
}

.post-title {
	margin: 6px 0;
	font-size: 2.4rem;
}

.post-published-at {
	font-weight: 300;
	font-size: .9rem;
	color: #9a9a9a;
}

.post-content {
	margin-top: 20px;
}

.post-content img {
	width: 800px;
}

/* styling figcaption for image */
img + span {
	font-size: .8rem;
	opacity: .7;
}
